@model DS_lab3.Models.Airports

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Airports</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AirportID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AirportID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ABB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ABB)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AirportID}) |
    @Html.ActionLink("Flights", "FlightsByCity", new { port = Model.AirportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
